<table class="table table-striped">
  <tbody>
    {% if page.location %}
    <tr>
      <td><strong>Location</strong></td>
      <td>{{ page.location }}</td>
    </tr>
    {% endif %}
    {% if page.birthday %}
    <tr>
      <td><strong>Age</strong></td>
      <td>{{ page.birthday | years }}</td>
    </tr>
    {% endif %}
    {% if page.height %}
    <tr>
      <td><strong>Height</strong></td>
      <td>{{ page.height }}</td>
    </tr>
    {% endif %}
    {% if page.bust %}
    <tr>
      <td><strong>Bust</strong></td>
      <td>{{ page.bust }}</td>
    </tr>
    {% endif %}
    {% if page.waist %}
    <tr>
      <td><strong>Waist</strong></td>
      <td>{{ page.waist }}</td>
    </tr>
    {% endif %}
    {% if page.hips %}
    <tr>
      <td><strong>Hips</strong></td>
      <td>{{ page.hips }}</td>
    </tr>
    {% endif %}
  </tbody>
</table>
