---
layout: default
---
<style>
body { position: relative; }
{% for photo in page.photos limit:3 %}
.banner-{{ forloop.index }} {
  background-image: url({% include img_path src=photo.src width=480 height=800 %});
}
@media (min-width: 481px) {
  .banner-{{ forloop.index }} {
    background-image: url({% include img_path src=photo.src width=768 height=461 %});
  }
}
@media (min-width: 769px) {
  .banner-{{ forloop.index }} {
    background-image: url({% include img_path src=photo.src width=1366 height=820 %});
  }
}
@media (min-width: 1367px) {
  .banner-{{ forloop.index }} {
    background-image: url({% include img_path src=photo.src width=1920 height=1152 %});
  }
}
{% endfor %}
</style>

<div id="carousel" class="carousel banner slide" data-ride="carousel" pause="false">
  {% assign gallery_count = page.photos | size %}
  {% if gallery_count > 1 %}
  <div class="container rel hidden-xs">
    <ol class="carousel-indicators">
      {% for photo in page.photos limit:3 %}
      {% assign img = photo.src | remove_first: '_media/' %}
      {% if assets[img] %}
      <li{% if forloop.first == true %} class="active" {% endif %} data-target="#carousel" data-slide-to="{{ forloop.index0 }}">{% img '{{ img }}' magick:resize:90^x90 magick:gravity:center magick:crop:90x90+0+0 image_optim:optimize:1 %}</li>
      {% endif %}
      {% endfor %}
    </ol>
  </div>
  {% endif %}

  <div class="carousel-inner fh" role="listbox">
    {% for photo in page.photos limit:3 %}
    {% assign img = photo.src | remove_first: '_media/' %}
    {% if assets[img] %}
    <div class="item img-cover img-fixed fh banner-{{ forloop.index }} {% if forloop.first == true %}active{% endif %}"></div>
    {% endif %}
    {% endfor %}
  </div>

  <div class="banner-content">
    <div class="submenu">
      <div class="container">
        <div class="pull-left">
          <div id="submenu">
            <ul class="nav nav-pills" role="tablist">
              <li><a href="#"><i class="fa fa-chevron-up"></i> </a></li>
              <li class="hidden-xs"><a href="#content"><i class="fa fa-info-circle"></i> Details</a></li>
              {% if page.photos %}<li class="hidden-xs"><a href="#photos"><i class="fa fa-camera"></i> Photos</a></li>{% endif %}
              {% if page.videos %}<li class="hidden-xs"><a href="#videos"><i class="fa fa-video-camera"></i> Videos</a></li>{% endif %}
              <li class="hidden"><a href="#booking"></a></li>
            </ul>
          </div>
        </div>
        <div class="pull-right">
          <a id="carShare" href="#shareModal" data-toggle="modal" class="btn btn-default">
            <i class="fa fa-fw fa-share-alt"></i> <span class="hidden-xs hidden-sm">Share</span>
          </a>
          <a href="#booking" class="btn btn-danger">Book {{ page.title }}</a>
        </div>
      </div>
    </div>

    <div class="banner-container">
      <div class="container">
        <div class="banner-text">
          <div>
            <h1>{{ page.title | markdownify | strip_html }}</h1>
            <span class="details">
              {% include profile_{{ page.collection }}.html %}
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <a class="left carousel-control hidden-xs" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control hidden-xs" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="section" id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <article class="section-content text-justify">{{ content | replace_first: '<p>', '<p class="lead">' }}</article>
      </div>
      <div class="col-sm-4 col-sm-push-1">
        <h3>Info</h3>
        {% include profile_{{ page.collection }}_details.html %}
      </div>
    </div>
  </div>
</div>

{% if page.photos %}
<div class="section bg-dark" id="photos">
  <div class="container">
    <h2 class="section-header">Photos</h2>
    <div class="section-content row gallery">
      {% assign i = 0 %}
      {% for photo in page.photos %}
      {% assign i = i | plus: 1 %}
      {% assign img = photo.src | remove_first: '_media/' %}
      {% if assets[img] %}
      <div class="col-md-3 col-sm-4 col-xs-6 item">
        <a style="cursor: pointer;" data-title="{{ photo.title }}" data-image="{% img_path '{{ img }}' magick:resize:1920x1080 watermark:watermark:1 image_optim:optimize:1 %}">
          <figure>
            {% img '{{ img }}' magick:resize:300^x225 magick:gravity:center magick:crop:300x225+0+0 watermark:watermark:1 image_optim:optimize:1 class:img-responsive alt:'{{ photo.title | default: page.title }}' %}
            {% if photo.title %}<figcaption>{{ photo.title }}</figcaption>{% endif %}
          </figure>
        </a><br>
      </div>
      {% endif %}
      {% endfor %}
    </div><br>
  </div>
</div>

<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel">
  <div class="modal-dialog modal-lightbox" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="galleryModalLabel"></h4>
      </div>
      <div class="modal-body carousel">
        <img />
        <a class="left carousel-control previous" href="#galleryModal" role="button">
          <span class="fa fa-chevron-left fa-3x"></span>
        </a>
        <a class="right carousel-control next" href="#galleryModal" role="button">
          <span class="fa fa-chevron-right fa-3x"></span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if page.videos %}
<div class="section bg-darker" id="videos">
  <div class="container">
    <h2 class="section-header">Videos</h2>
    <div class="section-content row videos text-center">
      {% for v in page.videos %}
      {% assign video = v.video_url | youtube %}
      {% if video %}
      {% assign video_title = v.video_title | default: video.title %}
      <div class="col-sm-4 col-xs-6 item">
        <a href="#videoModal" data-title="{{ video_title }}" data-content="{{ video.src }}" data-toggle="modal">
          <figure>
            <img src="{{ video.image }}" alt="{{ video_title }}" class="img-responsive">
          </figure>
          <h4>{{ video_title }}</h4>
        </a><br>
      </div>
      {% endif %}
      {% endfor %}
    </div><br>
  </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="videoModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="section bg-primary" id="booking">
  <div class="container">
    <h2 class="section-header">Book {{ page.title }} for your next event</h2>
    <div class="section-content">
      <span class="lead">Complete this form and we'll get back to you as soon as possible.</span>
    </div>
    <div class="section-content">
      <form role="form" action="https://send.abemedia.co.uk/0m" method="post" class="donforms">
        <div class="row">
          <div class="form-group col-sm-4">
            <label for="name">Name *</label>
            <input type="text" class="form-control" name="name" placeholder="Enter your first and last name" required>
          </div>
          <div class="form-group col-sm-4">
            <label for="email">Email *</label>
            <input type="email" class="form-control" name="email" placeholder="Enter your email address" required>
          </div>
          <div class="form-group col-sm-4">
            <label for="phone">Phone *</label>
            <input type="tel" class="form-control" name="phone" placeholder="Enter your phone number" required>
          </div>
        </div>
        <div class="form-group">
          <label for="details">Details</label>
          <textarea name="details" id="details" rows="4" class="form-control" placeholder="Enter further details about the event"></textarea>
        </div>
        <div class="text-right">
          <br>
          <button type="submit" class="btn btn-danger btn-lg">Enquire now</button>
        </div>
        <input type="hidden" name="talent" value="{{ page.title | markdownify | strip_html }}">
        <input type="hidden" name="url" value="{{ page.url | prepend: site.url }}">
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel">Share {{ page.title }}</h4>
      </div>
      <div class="modal-body">
        {% assign providers = site.sharing.provider | join: "," %}
        {% widget donshare providers=providers bubbles="right" style="long" hide_total=true %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
